/* The GUI */
.player {
    position: absolute;
    width: 350px;
    height: 480px;
    top: 0;
    margin-top: -360px;
    background-color: #3f3b60;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: -webkit-transform 0.75s ease-in-out;
    transition: transform 0.75s ease-in-out;
    opacity: 0.5;
}

.playerShown { 
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.playerHidden { 
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
}

.activePlayer {
    opacity: 1 !important;
}

/* The div for the player names */
.playerName {
    position: relative;
    height: 40px;
    top: 365px;
    width: 300px;
    margin: auto;
    color: white;
    text-transform: uppercase;
    text-align: center
}

/* GUI on the left (player 1) */
.player1 {
    left: 0
}

/* GUI on the right (player 2) */
.player2 {
    right: 0
}

.currentPlayer {
    opacity: 1
}

:global(.spinner) {
    margin: 100px auto;
    width: 50px;
    height: 30px;
    text-align: center;
    font-size: 10px;

    &> div {
      background-color: #fff;
      height: 100%;
      width: 6px;
      display: inline-block;

      -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
      animation: stretchdelay 1.2s infinite ease-in-out;
    }

    &:global(.rect2) {
      -webkit-animation-delay: -1.1s;
      animation-delay: -1.1s;
    }

    &:global(.rect3) {
      -webkit-animation-delay: -1.0s;
      animation-delay: -1.0s;
    }

    &:global(.rect4) {
      -webkit-animation-delay: -0.9s;
      animation-delay: -0.9s;
    }

    &:global(.rect5) {
      -webkit-animation-delay: -0.8s;
      animation-delay: -0.8s;
    }
}

@-webkit-keyframes stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
    20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
    0%, 40%, 100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }  20% {
           transform: scaleY(1.0);
           -webkit-transform: scaleY(1.0);
       }
}

.loginWrapper {
    width:100%;
    height:100%;
    background: radial-gradient(circle, #5f5991 0%, #3f3b60 85%) no-repeat;
    /*background-color: #3f3b60;*/
    transition: transform 0.75s ease-in-out;
}

.loginWrapperShown { 
    -webkit-transform: translateY(0);
    transform: translateY(0);
    display: block;
}

.loginWrapperHidden { 
    -webkit-transform: translateY(-200%);
    transform: translateY(-200%);
    display: none;
}

.login{
    width:400px;
    margin:auto;
    padding-top:200px;
    margin-bottom:2%;
    transition: transform 0.75s ease-in-out;
}

.login h1{
    background:#7067ab;
    padding:20px 0;
    font-size:140%;
    font-weight:300;
    text-align:center;
    color:#fff;
}

.form{
    background:#f0f0f0;
    padding:6% 4%;
}

input[type="text"]{
    width:92%;
    background:#fff;
    margin-bottom:4%;
    border:1px solid #ccc;
    padding:4%;
    font-size:95%;
    color:#555;
}

input[type="submit"]{
    width:100%;
    background:#7067ab;
    border:0;
    padding:4%;
    font-size:100%;
    color:#fff;
    cursor:pointer;
    transition:background .3s;
    -webkit-transition:background .3s;
}
#rules {
    margin-top:20px;
}

input[type="submit"]:hover{
    background:#8b80d5;
}


:global(.centerv) {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

:global(.wrapper) {
    height : 500px;
    margin:auto;
    background-color: red;
}

#game {
    width: 100%;
    height: 100%
}

#quartoCanvas {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0
}

/* TITLE*/
/* TITLE CIRCLE */
#title {
    position: absolute;
    width: 500px;
    height: 300px;
    margin: -220px auto auto auto;
    top: 0;
    right: 0;
    left: 0;
    background-color: #3f3b60;
    text-align: center;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    font-size: 1.2em;
    -webkit-transition: -webkit-background 0.3s;
    transition: background 0.3s
}

#title:hover {
    background: #7067ab
}

/* QUARTO */
#titleText {
    margin: auto;
    margin-top: 225px;
    color: white
}

/* by Temechon */
#title .author {
    font-size: 0.7em
}

/* website link */
#title .author a {
    text-decoration: underline;
    color: white
}

/* ACTIONS */
.actions {
    width: 200px;
    height: 40px;
    /*background-color: orange;*/
    position: relative;
    top: 350px;
    margin: auto;
    margin-top: 10px;
    text-align: center
}

.action {
    width: 40px;
    margin: 0 20px 0 20px;
    opacity: 0.5
}

.actionLeft {
    left: 0
}

.actionRight {
    right: 0
}

.currentAction {
    width: 50px;
    opacity: 1
}

/* WIN PANEL */
.win {
    width: 400px;
    height: 200px;
    position: absolute;
    top: 50px;
    left: calc(50% - 200px);
    text-align: center;
    -webkit-transition: -webkit-transform 0.75s ease-in-out;
    transition: transform 0.75s ease-in-out;
    background: #f0f0f0;

    &> h1 { // QUARTO
        background: #7067ab;
        padding: 10px 0;
        font-size: 140%;
        font-weight: 300;
        color: #fff
    }
}

.winShown {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.winHidden {
    -webkit-transform: translateY(-300%);
    transform: translateY(-300%);
}

.winnerName {
    margin: 5px auto;
    /*background-color: green;*/
    font-size: 1.5em;
    -webkit-column-rule: #3f3b60;
    vertical-align: middle;
}

.winText { /* WON !! */
    font-size: 4em;
    color: white;
    vertical-align: middle;
    /*background-color: orange;*/
    color: #3f3b60;
}

.replayButton {
    background: #7067ab;
    border: 0;
    padding: 2.5%;
    font-size: 100%;
    color: #fff;
    cursor: pointer;
    margin: 10px auto;
    width: 150px;
    -webkit-transition: -webkit-background 0.3s;
    transition: background 0.3s;

    &:hover {
      background: #8b80f6
    }
}

/* TUTORIAL BUBBLE at the bottom */
#tutorial {
    width: 200px;
    height: 200px;
    background-color: #3f3b60;
    opacity: 0.7;
    color: white;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    position: fixed;
    bottom: -150px;
    right: 0;
    text-align: center;
    -webkit-transition: opacity 0.3s;
    -webkit-transition: -webkit-transform 0.3s;
    transition: opacity 0.3s;
    transition: -webkit-transform 0.3s;
    cursor: pointer;
    text-transform: uppercase;
    transform:translateY(200%);
    -webkit-transform: translateY(200%);
}

#tutorial:hover {
    opacity: 1
}

#tutorial h3 {
    padding-top: 15px;
    font-weight: 300
}

/* Tutorial STEPS */
:global(.tutorial) {
    width:calc(100% / 4);
    height: 250px;
    background-color: #3f3b60;
    position: absolute;
    -webkit-transition: opacity 0.25s ease-in;
    transition: opacity 0.25s ease-in;
    top:calc(100% / 4);
    right:calc(100% / 15);
    visibility: hidden;
    opacity: 0;
    font-weight: 300
}

@media screen and (max-width: 1160px) {
    :global(.tutorial) {
        width:calc(100% / 3);
        right: 20px;
    }
}
:global(.tutorialBig) {
    height: 350px;
}

:global(.tutorial) p, :global(.tutorial) ul {
    margin: 10px;
    color: white;
    font-size: 1em;
    line-height: 1.5em
}

.tutoButton {
    text-align: center;
    background: #7067ab;
    border: 0;
    padding: 10px;
    font-size: 100%;
    color: #fff;
    cursor: pointer;
    margin: 25px auto;
    width: 100px;
    -webkit-transition: -webkit-background 0.3s;
    transition: background 0.3s;

    &:hover {
      background: #8b80f6
    }
}



:global(.deactivate) {
    opacity: 0.2;
    cursor: auto
}

/* The quarto text in tutorials */
:global(.quarto) {
    text-transform: uppercase;
    font-weight: 300;
    color: yellow
}

/* STARTING TUTORIAL */
.startingTutorial {
    width: 400px;
    height: 200px;
    position: absolute;
    top: calc(50% - 200px);
    left: calc(50% - 200px);
    text-align: center;
    -webkit-transition: -webkit-transform 0.75s ease-in-out;
    transition: transform 0.75s ease-in-out;
    //-webkit-transform: translateY(-300%);
    //transform: translateY(-300%);
    background: #f0f0f0;
    &> h1 {
        /* Quarto */
        background: #7067ab;
        padding: 10px 0;
        font-size: 140%;
        font-weight: 300;
        color: #fff;
    }
    &> p {
        /* Do you know how to play ? */
        margin-top:35px;
        margin-bottom:-15px;
    }
}